.body {
  background: #fff;
  color: #22296c;
  font-family: sans-serif; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.flex-center {
  display: flex;
  align-items: center; }

ul {
  list-style-type: none; }

a, a:hover {
  color: #22296c; }

a:visited {
  text-decoration: none; }

.nopadding {
  padding: 0 !important; }

.noleftpadding {
  padding-left: 0 !important; }

.norightpadding {
  padding-right: 0 !important; }

.header {
  background: #ad5cad;
  position: absolute;
  left: 20%;
  width: 80%;
  height: 12vh; }
  .header .login-user {
    padding: 3%; }

@media (max-width: 1023px) {
  .header {
    height: 6vh; } }

.sidebar {
  position: absolute;
  width: 20%;
  background: #ffc266;
  height: 100%; }
  .sidebar .search-box {
    border-radius: 0.75rem; }
  .sidebar nav {
    background: #ffc266; }
    .sidebar nav ul {
      padding: 5% 0; }
      .sidebar nav ul li:first-child {
        padding: 10% !important; }
      .sidebar nav ul li.nav-item {
        padding: 5%;
        border-bottom: 1px solid #ad5cad; }

.nav-table {
  border: 1px solid #ffc266; }

.active {
  background: #ad5cad; }

.details-section {
  left: 20%;
  padding: 5%;
  position: absolute;
  width: 80%;
  top: 12vh; }
  .details-section .message {
    padding-left: 4%; }
  .details-section .profile-pic img {
    width: 14rem; }
  .details-section .profile-desc {
    border: 2px solid #ad5cad;
    padding: 2%;
    overflow: auto; }
  .details-section .likes-dislikes {
    display: flex; }
    .details-section .likes-dislikes table {
      border: 1px solid #ad5cad;
      border-bottom: 1px solid #ad5cad; }
      .details-section .likes-dislikes table th {
        background: #ffc266; }
        .details-section .likes-dislikes table th.heading {
          font-weight: 600;
          font-size: 1rem; }
      .details-section .likes-dislikes table td {
        padding: 2%;
        width: 20%;
        border-bottom: 1px solid #ad5cad; }

@media (max-width: 1023px) {
  .details-section {
    top: 6vh; } }

