<header class="container-fluid" ng-controller="headerCtrl">
<div class="row">
    <!--<div class="col-8 search-contact">
            <input type="text" class="search-box"  ng-model="searchedContact"/>
        <ul style="z-index:999;">
            <li ng-repeat="contact in contacts|filter:searchedContact">
                {{contact.name}}
            </li>
        </ul>
    </div>-->
    <div class="col-12 align-right login-user">
        <i class="fas fa-user"></i>
        <span vlass="">Username</span>
    </div>
</div>
</header>